.error{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}

.centered{
    text-align:center;
}

.centered > h3{
    line-height: 40px;
}

.centered > h1 {
    color: white;
    font-size: 150px;
}

.centered > p{
    width: 400px;
}

@media (max-width:440px) {
    .centered > h1 {
        font-size: 100px;
    }
    .centered > p{
        width: 300px;
    }
}